{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - Aitunews</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
    <style>
        ul {
            list-style-type: none;
            display: flex;
            padding: 0;
        }
        li {
            margin-right: 20px;
        }
        nav a{
            font-size: 17px;
        }
        textarea {
            padding: 10px; /* добавляем отступы вокруг текста */
            border: 1px solid #ccc; /* задаем границу */
            border-radius: 5px; /* закругляем углы */
            resize: vertical; /* разрешаем вертикальное изменение размера */
            min-height: 100px; /* минимальная высота */
            max-width: 100%; /* максимальная ширина */
            font-family: Arial, sans-serif; /* выбираем шрифт */
            font-size: 16px; /* выбираем размер шрифта */
        }

        /* Стилизация кнопки */
        button[type="submit"] {
            padding: 10px 20px; /* добавляем отступы вокруг текста */
            background-color: #007bff; /* цвет фона */
            color: #fff; /* цвет текста */
            border: none; /* убираем границу */
            border-radius: 5px; /* закругляем углы */
            cursor: pointer; /* меняем курсор при наведении */
        }

        /* Стилизация кнопки при наведении */
        button[type="submit"]:hover {
            background-color: #0056b3; /* изменяем цвет фона */
        }
    </style>
</head>
<body>
<header>
    <h1><a href='/'>Aitunews</a></h1>
</header>
<nav>
    <div>
        <ul>
            {{if .IsAuthenticated}}
            {{if eq .UserRole "teacher"}}
                <li><a href='/news/creation'>Create</a></li>
            {{end}}
            {{end}}
            {{if .IsAuthenticated}}
                <li><a href='/'>Home</a></li>
                <li><a href='/news/students'>Students</a></li>
                <li><a href='/news/staff'>Staff</a></li>
                <li><a href='/news/applicants'>Applicants</a></li>
                <form action='/user/logout' method='POST'>
                    <button>Logout</button>
                </form>
            {{else}}
            <li><a href='/user/signup'>Signup</a></li>
            <li><a href='/user/login'>Login</a></li>
            {{end}}
            <li><a href='/contacts'>Contacts</a></li>
            {{if eq .UserRole "admin"}}
                <li><a href='/admin'>Control</a></li>
            {{end}}
        </ul>
    </div>
</nav>
<main>
    {{with .Flash}}
    <div class='flash'>{{.}}</div>
    {{end}}
    {{template "main" .}}
</main>
{{template "footer" .}}
<script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}
