{{template "base" .}}
{{define "title"}}Contacts{{end}}
{{define "main"}}
<h2>Contact Information</h2>

<p>
    Astana IT University<br>
    Address: Astana IT University. Mangilik Yeli Avenue, 55/11. EXPO Business Center, Block C1, Astana, Kazakhstan,
    010000.<br>
    Phone: +7 (7172) 645-710<br>
    Email: info@astanait.edu.kz<br>
</p>

<h2>Location Map</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1440.842028660148!2d71.41908699312124!3d51.09029006705988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1704376161733!5m2!1sru!2skz"
        width="400"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
</iframe>

{{end}}